html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: beige;
  width: 90vw;
  height: 90vh;
  align-items: center;
  justify-content: space-around;
}

.nav {
  flex-basis: 25%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.article {
  flex-basis: 73%;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.title {
  flex-basis: 100%;
  background-color: palevioletred;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent-article {
  flex-basis: 48%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}

.recent {
  flex-basis: 48%;
  height: 48%;
  background-color: rgb(253, 159, 45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-article {
  flex-basis: 48%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}

.popular {
  flex-basis: 48%;
  background-color: rgb(143, 255, 143);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48%;
}

.popular.wide {
  flex-basis: 100%;
}

@media all and (max-width: 800px) {
  .nav {
    width: 60%;
  }
}

@media all and (max-width: 500px) {
  .nav {
    width: 75%;
  }
}

@media all and (max-width: 300px) {
  .nav {
    width: 99%;
  }
  .article {
    flex-direction: column;
  }
}
